body{
	background: LightSlateGray;

}

*{
	text-decoration: none;
}

#neet{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 35px;
	color: white;
  background-color: DarkGrey;
  padding: 10px;
   border:2px solid black;
  margin: 20px 500px 20px 500px;
}

.container{
	width: 80%;
	margin: 30px auto;
	overflow: hidden;
  background-color:SlateGray;
   border:2px solid black;

}

.center-text{
  display: flex;
  justify-content: center;
   border:2px solid black;
   margin:20px 500px 20px 500px;
   padding: 20px;
}


.container ul li{
  background-color: DarkGrey;
  padding: 10px;
  border:1px solid black;
	list-style: none;
	float: left;
	font: 10px/1.5 Verdana, Helvetica;
	width: 16%;
	margin: 2% 2% 40px 2%;

}

.container ul li:hover{
  transform: scale(1.2);
}

.container ul li a{
	color: black;
}

.container ul li a img{
	max-width: 100%;
}

.container ul li a img:hover{
	transform: scale(1.3);
}

#backtmp{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	color: white;
  background-color: DarkGrey;
   padding: 10px;
   border:2px solid black;
  margin: 20px 500px 20px 500px;
}

html{
  box-sizing: border-box;
}
*{
  box-sizing: inherit;
}
.wrapper{
  max-width: 1000px;
  margin: 40px auto;
  text-align: center;
  position: relative;
  opacity: 0.8;
}
.popup{
  display: block;
  width: 260px;
  background-color: SlateGray;
  border:3px solid black;
  padding: 30px;
  text-transform: uppercase;
  font-family: arial;
  color: white;
  font-size: 14px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -999px;
  transition: .5s all linear;
}

.popup input{
  width: 100%;
  border: 0;
  margin: 10px 0;
  height: 35px;
  padding: 5px;
  outline: none;
}

.submit{
  background-color: #fff;
  cursor: pointer;
}

#callback{
  display: none;
}

#callback:checked ~ .popup{
  top: 200px;
}

.close{
  display: block;
  position: absolute;
  transform: rotate(45deg);
  font-size: 24px;
  top: 5px;
  right: 10px;
  cursor: pointer;

}

